*{
    padding: 0px;
    border: 0px;
}
body {
    padding: 0px;
    border: 0px;
    background-color: wheat;
    color:#ff5c29;
    text-align: center;
    display: flex;
    text-decoration: none;
}
#DD{
    background-color: #49001e;
    padding: 20px;
	border-radius: 10px;
    width: 65%;
    margin-top: 30px;
    margin-right: 50px; 
    margin-left: 10px;
    
}
#DD h1 {
    padding-top: 25px;
    padding-bottom: 25px;
}
#foto figure{
    margin-top: 40px;
    border-radius: 100%;
    background-color: black;
    display: block;
    width: 200px;
    height: 200px;
}
#foto figure img{
    border-radius: 100%;
    width: 180px;
    height: 180px;
    margin: 10px;
}
#foto{
    background-color: #49001e;
    padding-bottom: 10px;
	border-radius: 10px;
    width: 300px;
    margin-top: 30px;
    margin-right: 10px; 
    margin-left: 50px;
}
#foto ul{
    padding-top: 70px;
}
#foto li{
    display: flex;
    padding-top: 10px;
    padding-left: 30px;
}
a{
    color: #ff5c29;
    text-decoration: none;
}
li:hover,a:hover{
    color: wheat;
}
button {
    background-color: antiquewhite;
    height: 50px;
    border-radius: 10px;
}
label img{
    width: 30px;
    height: 30px;
}
#chec {
    display:none ;
}
nav{
    display: block;
    padding-left: 0px;
    background-color: #49001e77;
    width: 300px;
    height: 100%;
    left: -350px;
    position: absolute;
}
#chec:checked ~ nav{
    transform: translateX(350px);
}
nav ul{
    text-align: start;
    padding-top: 40px;
    margin: 0px;
}
nav a {
    background-color: rgb(131, 97, 12);
    display: block;
    padding: 20px 5px;
}
#DNav{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    position: absolute;
}
label{
    background-color: black;
    position: absolute;
    z-index: 1;
}